{% extends 'base.html' %}

{% block title %} Portfolio {% endblock title %}

{% load static %}

{% block content %}

<section class="container-fluid bg-dark bg-gradient d-flex">
  <main class="container-fluid d-flex justify-content-around py-2">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-around">
      {% for project in projects %}
      <div class="col py-2" style="width: 20rem;">
        <div class="card h-100 bg-dark text-white-50 shadow mb-4" style="width: 19rem;">
          <img src="{{project.image.url}}" class="card-img-top" alt="image-card">
          <div class="card-body">
            <h5 class="card-title text-white">{{project.title}}</h5>
            <p class="card-text pt-2">{{project.description}}</p>
            <div class="card-footer text-center pt-4 p-0">
              <a href="{{project.link}}" target="_blank" class="btn btn-info mx-2">Ver App</a>
              <a href="{{project.link_git}}" target="_blank" class="btn btn-secondary">GitHub</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

</section>
{% endblock content %}